@import 'normalize.css';

@define-mixin atMedium {
  @media only screen and (max-width: 500px) { @mixin-content; }
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;

  font-family: sans-serif;
  background-color: color($primary a(50%));
  /* @mixin OpenSans 30px; */
  @mixin atMedium {
    background-color: black;
  }
}
